.dropdown {}

.dropdown>.caption {
    background-color: #f2f2f2;
    padding: 5px 5px;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown>.list {
    background-color: #f2f2f2;
    width: 80%;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 14px;
}

.dropdown>.list>.item {
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    word-wrap: break-word;
}

.dropdown>.list>.item.selected {
    font-weight: bold;
}

.buttondiv {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.button0 {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px
}

#button2 {
    font-size: 15px;
    padding: 5px;
}

.tablediv>thead>th {
    padding-top: 10px;
}

.table1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.dropdown.open>.list {
    display: block;
}